body {
	background-color: #121212;
}

.my-container {
	background-color: #efdf9e;
	border: 3px solid gray;
	border-radius: 10px;
}

thead tr {
	border-bottom: 1px solid gray;
	background-color: #f2c511;
}

th, td {
	white-space: nowrap;
	border-right: 1px solid gray;
	padding-left: 5px;
	padding-right: 5px;
}

th:last-child, td:last-child {
	border-right: none;
	width: 100%;
	white-space: initial;
}

input {
	border-radius: 5px;
}

tr:nth-child(even) {
	background-color: #edd36d;
}

tr.selected:nth-child(even) {
	background-color: #aaccff;
}

tr.selected:nth-child(odd) {
	background-color: #bbddff;
}

* {
	font-family: "Raleway", "Arial Narrow", sans-serif;
}

form {
	display: flex;
}

form > * {
	margin: 5px;
}

#input-username {
	width: 200px;
}

#input-message {
	width: 100%;
}

#main-container {
	width: 90%;
	margin: 5%;
}

@media (max-width: 1100px) {
	#main-container {
		width: 100%;
		margin: 0;
	}
}

#container-search {
	display: inline-block;
}

#container-display {
	margin-top: 20px;
	overflow-x: auto;
}

#page-controls {
	margin: 20px;
}

#page-controls input {
	border: 1px solid lightsteelblue;
	border-radius: 10px;
	background-color: whitesmoke;
	padding: 10px 30px;
	visibility: hidden;
}

#page-indicator {
	display: none;
}

#page-controls input:hover {
	background-color: ghostwhite;
}

#control-prev {
	float: left;
}

#control-next {
	float: right;
}

table *:not(a){
	cursor: default;
}
